<h1>Login</h1>
<div class="nav-bar">
   <div class="row">
    <div class="small-4 columns">Hamburger Button</div>
    <div class="small-4 columns">Title</div>
    <div class="small-4 columns">Add Button</div>
  </div>
</div>
<div class="login-form">
  <div class="row">
    <form action="login" method="login">
      <div class="small-3 small-centered columns">
        Email:
        <input type="text" name="email" />
      </div>
        <br>
      <div class="small-3 small-centered columns">
        Password:
        <input type="text" name="password" />
      </div>
        <br>
      <div class="small-3 small-centered columns">
        <input type="submit" value="submit" />
      </div>
    </form>
  </div>
</div>