<div class="login-page">
  <h1>Incognito</h1>
  <div class="login-form row">
    <form action="login" method="post">
      <div class="row">
        <div class="small-8 small-centered columns">
          <label class="hidden" for="email">Email:</label>
          <input type="text" id="email" name="user[email]" placeholder="email" />
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-centered columns">
          <label class="hidden" for="password">Password:</label>
          <input type="text" id="password" name="user[password]" placeholder="password" />
        </div>
      </div>
      <div class="row">
        <div class="small-2"></div>
        <div class="small-4 small-offset-2 columns">
          <a href="#">Sign-up</a>
        </div>
        <div class="small-4 columns end">
          <input id="sign-in" class="right" type="submit" value="Sign-in" />
        </div>
      </div>
    </form>
  </div>

  <footer>
    <a href="#">Terms & Conditions</a>
  </footer>
</div>

<script>
  $(document).ready( function() {
    $('#sign-in').on('click', function (e) {
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: 'http://localhost:3000/login',
        dataType: 'json',
        data: $('form').serialize(),
        success: function(user) {
          $.cookie('user', user)
          window.location.href = 'http://localhost:3000/#/events';
        },
        error: function(x,y,z) {
          alert('Error login');
        }
      });
    });
  });
</script>