<h1>Login</h1>

<div class="nav-bar">
   <div class="row">
    <div class="small-4 columns">Hamburger Button</div>
    <div class="small-4 columns">Title</div>
    <div class="small-4 columns">Add Button</div>
  </div>
</div>
