<div class="registration-page">
  <h1>Register</h1>
  <div class="registration-form row">
    <form id="registration-form" action="registration" method="post">
      <div class="row">
        <div class="small-8 small-centered columns">
          <label class="hidden" for="Email">Email:
          </label>
          <input type="text" id="email" name="user[email]" placeholder="email" />
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-centered columns">
          <label class="hidden" for="Username">Username:</label>
          <input type="text" id="username" name="user[username]" placeholder="username" />
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-centered columns">
          <label class="hidden" for="password">Password:</label>
          <input type="text" id="password" name="user[password]" placeholder="password" />
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-centered columns">
          <label class="hidden" for="confirmation-password">Password Confirmation:</label>
          <input type="text" id="password_confirmation" name="user[password_confirmation]" placeholder="password confirmation" />
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-centered columns ">
          <input id="register" class="right" type="submit" value="Sign-up" />
        </div>
      </div>
    </form>
  </div>

  <footer>
    <a href="#">Terms & Conditions</a>
  </footer>
</div>


<script src="javascripts/registration.js" type="text/javascript" charset="utf-8"></script>






