<h1>Messages</h1>
<div class="messages">
  <div class="message self">
    <div class="user">Kulio</div>
    <div class="content">Let's go on a Junk Trip!</div>
  </div>
  <div class="message">
    <div class="user">Nigel</div>
    <div class="content">Sounds good!</div>
  </div>
  <div class="message">
    <div class="user">Mark</div>
    <div class="contnet">I'll cook the food. ;)</div>
  </div>
</div>

<div class="message-form">
  <form action="???" method="put">
    <div class="row">
      <div class="small-10 columns">
        <label for="message" class="hide">Message</label>
        {{!-- <input type="text" id="message" name="message"> --}}
        <textarea name="message[content]" id="message" cols="30" rows="5"></textarea>
      </div>
      <div class="small-2 columns">
        <input id="post-button" type="submit" value="Post">
      </div>
    </div>
  </form>
</div>

<script src="javascripts/messages.js"></script>
<script>

$('#message').textcomplete([
  { // html
    hash_tags: ['suggest.location.', 'suggest.date.', 'suggest.task.'],
    match: /\B#(\w*)$/,
    search: function (term, callback) {
      callback($.map(this.hash_tags, function (tag) {
        return tag.indexOf(term) === 0 ? tag : null;
      }));
    },
      index: 1,
      replace: function (tag) {
        return '#' + tag + ' ';
      }
    }
]).overlay([
  {
    match: /\B#\w+/g,
    css: { 'background-color': '#d8dfea' }
  }
]);

</script>