<div id="container">
  <header>
    <div id="hamburger" class="small-3 columns">
      <img src="images/hamburger-icon.svg", alt="hamburger image">
    </div>
    <h2><div class="small-7 columns">{{messages.0.event.title}}</div></h2>
    <h2><a href="/#/summary"><div id="i-button" class="small-2 columns">i
    </div></a></h2>
  </header>
  <nav class="mobileNav">
    <ul>
      <li><a href="/#/events">All Events</a></li>
      <li><a href="/#/friends" >Friends</a></li>
      <li><a href="/#/login" >Log Out</a></li>
    </ul>
  </nav>

  <div id="contentLayer"></div>

  <div id="content">
    <h1>Messages</h1>

    <div class="messages">
      {{#each messages}}
        <div class="message">
          <div class="user">{{user.username}}</div>
          <div class="content">{{content}}</div>
        </div>
      {{/each}}
    </div>

    <div class="message-form">
      <form action="localhost:3000/api/events/messages" method="put">
        <div class="row">
          <div class="small-10 columns">
            <label for="message" class="hide">Message</label>
            {{!-- <input type="text" id="message" name="message"> --}}
            <textarea name="message[content]" id="message" cols="30" rows="5"></textarea>
            <input type="hidden" id="user_id" name="message[user_id]">
          </div>
          <div class="small-2 columns">
            <input id="post-button" type="submit" value="Post">
          </div>
        </div>
      </form>
    </div>
  </div>


<script src="javascripts/messages-textcomplete.js"></script>
<script src="javascripts/messages-posting.js"></script>
<script src="javascripts/hamburger.js"></script>