<h1>Messages</h1>

<div class="messages">
  {{#each messages}}
    <div class="message">
      <div class="user">{{user.username}}</div>
      <div class="content">{{content}}</div>
    </div>
  {{/each}}
</div>

<div class="message-form">
  <form action="localhost:3000/api/events/messages" method="put">
    <div class="row">
      <div class="small-10 columns">
        <label for="message" class="hide">Message</label>
        {{!-- <input type="text" id="message" name="message"> --}}
        <textarea name="message[content]" id="message" cols="30" rows="5"></textarea>
      </div>
      <div class="small-2 columns">
        <input id="post-button" type="submit" value="Post">
      </div>
    </div>
  </form>
</div>

<script src="javascripts/messages.js"></script>
<script src="javascripts/messages-textcomplete.js"></script>
<script src="javascripts/messages-posting.js"></script>
