<header>
  <div class="nav-bar">
    <div class="row">
      <div class="small-4 columns" id="hamburger">
        <img alt="hamburger image" src="/assets/hamburger-icon.svg">
      </div>
      <div class="small-4 columns">
        <h1>Friends</h1>
      </div>
      <div class="small-4 columns" id="plusButton">
        <img alt="hamburger image" src="/assets/add-icon.svg">
      </div>
    </div>
  </div>
</header>

<div class="friends-page" id="content">
  <div class="row">
    <div class="search">
      <div class="small-8 small-offset-2 columns">
        <label class="hidden" for="search-bar">Search Bar:</label>
        <input type="text" id="Search-bar" name="Search-bar" placeholder="search" />
      </div>
      <div class="small-2 columns">
        <input id="search-button" type="submit" value="search">
      </div>
    </div>
    <div class="friends">
      <div class="row">
        <div class="small-8 columns" id="friend-name">Friends name</div>
        <div class="small-4 columns" id="points">Points</div>
      </div>
    </div>
  </div>
</div>
