@import url(http://fonts.googleapis.com/css?family=Exo:400,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

$gray-light: #F9F9F9;

$blue: #42CBEA;
$blue-dark: #3194AA;

$green: #A3D658;
$green-light: #B5DF77;
$green-extra-light: #E3FDBB;
$green-dark: #74B973;
$green-shadow: #68AE00;

body {
  background-color: $blue;
  // font-family: 'Exo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
  color: white;
  font-weight: 600;
}

.login-page, .registration-page {
  h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 4em;
  }

  input {
    border-radius: 5px;
    border: 1px solid $blue-dark;
    margin: 5px 0;
  }

  form {
    .row:first-of-type {
      margin-top: 50px;
    }
    .row:last-of-type {
      margin-top: 20px;
    }
  }

  a {
    color: white;
    padding-top: 16px;
    padding-left: 15px;
    display: block;
    font-size: 1.1em;
  }

  footer {
    width: 300px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    padding: 10px;
    background-color: $gray-light;
  }

  #sign-in, #register {
    background-color: $green;
    color: $green-extra-light;
    border: 1px solid $green-light;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    box-shadow: 0 4px 0 0 $green-dark;
    font-size: 1.0em;
    font-weight: 600;
  }
}

footer {
  width: 400px;
  position: fixed;
  padding: 10px;
  background-color: $blue;
  color: white;
  }

/*
Header is relative so z-index: 1 guarantees always displayed on top
*/
header {
    background-color: $blue;
    padding: 10px;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow:  0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

/*
using background color is important to cover the menu
position absolute isset to cover the whole viewport
*/
#content {
    background-color: #FFFFFF;
    padding: 52px 10px 10px 10px;
    position: relative;
    width: auto;
    min-height: 1000px;
    -webkit-box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

/*
the hamburger button with a little gradient effekt
*/
#hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}

/*
The navigation container in the background
*/
nav {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 70%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x:hidden;
    overflow-y:auto ;
    background: #3e3c3d;
    background: -moz-linear-gradient(top,  #3e3c3d 0%, #2d2c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e3c3d), color-stop(100%,#2d2c2d));
    background: -webkit-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: -o-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: -ms-linear-gradient(top,  #3e3c3d 0%,#2d2c2d 100%);
    background: linear-gradient(to bottom,  #3e3c3d 0%,#2d2c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3c3d', endColorstr='#2d2c2d',GradientType=0 );
}

/*
Style the navigation menu
*/
nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}
nav li a {
    color: #fff;
    text-decoration: none;
}

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
    min-height: 1062px;
}

#plusButton{
  text-align: right;
}

.messages {
  background-color: white;
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 160px;
  top: 60px;
  padding: 50px 30px;

  .message {

    padding: 10px;
    border: 1px solid $green-dark;
    background-color: $green;
    border-radius: 7px;
    margin-bottom: 15px;
    color: white;
    text-align: right;

    .user {
      border-bottom: 1px solid white;
      font-size: 0.9em;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }

    .content {
      font-size: 1.1em;
      padding: 5px 0;
    }

    &.self {
      border: 1px solid $blue-dark;
      background-color: $blue;
      text-align: left;
    }
  }
}

.message-form {
  position: fixed;
  z-index: 1;
  bottom: 10px;
  width: 100%;

  #post-button {
    width: 100%;
    height: 50px;
    display: block;
    color: red;
    background-color: $green;
  }
}
