@import url(http://fonts.googleapis.com/css?family=Exo:400,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

$blue: #42CBEA;
$blue-dark: #3194AA;

$green: #A3D658;
$green-light: #B5DF77;
$green-dark: #74B973;
$green-shadow: #68AE00;

body {
  // background-color: $blue;
  // font-family: 'Exo', sans-serif;
  // font-family: 'Open Sans', sans-serif;
}