<div id="container">
  <header>
    <div id="hamburger" class="small-3 columns">
      <img src="images/hamburger-icon.svg", alt="hamburger image">
    </div>
    <div class="small-6 columns">

    </div>

  </header>
  <nav class="mobileNav">
    <ul>
      <li><a href="/#/events">All Events</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </nav>

  <div id="contentLayer"></div>

  <div id="content">
    <main role="main">

    <h1>Create New Event</h1>
      <div class="messages-form">
        <form action="http://localhost:3000/api/users/1/events" method="post">
          <div class="row">
            <div>
              <label for="event" class="hide">Event</label>
              <input type="text" id="event" name="event[title]" placeholder="Title">
              <input type="date" id="event" name="event[date_time]" placeholder="Please specify a date">
            </div>
            <div>
              <input id="post-button" type="submit" value="Post">
            </div>
          </div>
        </form>
      </div>

  </div>
</div>



<script>

  $(document).ready(function(){

    $('#post-button').on('click', function(e) {

      var url = 'http://localhost:3000/api/users/' + $.cookie(user).id + '/events'

      $.ajax({
        type: 'POST',
        url: url,
        dataType: 'json',
        data: $('form').serialize(),
        success: function(data) {
          console.log("hi");
        },
        error: function(x,y,z) {
          console.log(x,y,z);
          alert('Error posting message');
        }
      });

      e.preventDefault();
    });





    // HAMBURGER BUTTON ANIMATION CODE
    //Open the menu
    $("#hamburger").click(function() {

      //set the width of primary content container -> content should not scale while animating
      var contentWidth = $('#content').width();

      //set the content with the width that it has originally
      $('#content').css('width', contentWidth);

      //display a layer to disable clicking and scrolling on the content while menu is shown
      $('#contentLayer').css('display', 'block');

      //disable all scrolling on mobile devices while menu is shown
      $('#container').bind('touchmove', function(e){e.preventDefault()});

      // set margin for the whole container with a $ UI animation
      $("#container").animate({"marginLeft": ["70%", 'easeOutExpo']}, {
          duration: 700
      });

    });

    //close the menu
    $("#contentLayer").click(function() {

        //enable all scrolling on mobile devices when menu is closed
        $('#container').unbind('touchmove');

        //set margin for the whole container back to original state with a $ UI animation
        $("#container").animate({"marginLeft": ["0", 'easeOutExpo']}, {
            duration: 700,
            complete: function() {
                  $('#content').css('width', 'auto');
                $('#contentLayer').css('display', 'none');

            }
        });
    });
  });

  // $( function() {
  //   $.ajaxSetup
  // });
</script>

<!-- <script src="javascripts/events.js"></script> -->